.CartItem {
  position: relative;

  display: flex;
  gap: 20px;
  align-items: center;

  @include respond-to($tb) {
    flex-wrap: wrap;
  }

  &__image {
    width: 150px;

    @include respond-to($tb) {
      width: 100%;
    }

    img {
      width: 100%;
      height: 150px;
      object-fit: cover;
      object-position: center;
    }
  }

  &__info {
    flex: 1;

    &_title {
      margin-bottom: 10px;

      p {
        @include font-size(16);
        font-family: $fontTitle;
        font-weight: 600;
      }
    }

    &_text {
      margin-bottom: 20px;

      p {
        @include font-size(12, 22);
      }
    }

    &_price {
      p {
        @include font-size(14);
        color: $third;
        font-weight: 600;

        display: flex;
        gap: 10px;
        align-items: center;

        span {
          padding: 10px 20px;
          background-color: $third;
          color: $white;
        }
      }
    }
  }

  &__actions {
    padding: 0 20px;

    @include respond-to($mbl) {
      padding: 0;

      position: absolute;
      right: 0;
      bottom: 0;
    }

    button {
      padding: 20px;
      border-radius: 999px;
      background-color: $third;
      transition: all ease 0.8s;

      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        width: 24px;
        height: 24px;
        fill: $white;
        transition: all ease 0.8s;

        @include respond-to($mbl) {
          width: 18px;
          height: 18px;
        }
      }

      &:hover {
        background-color: $fifth;

        svg {
          fill: $third;
        }
      }
    }
  }
}
