.Header {
  width: 100%;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  .HeaderOptions {
    display: flex;
    gap: 10px;
    align-items: center;

    @include respond-to($tb) {
      display: none;
    }

    &__social {
      display: flex;
      align-items: center;
      gap: 20px;

      @include respond-to($tb) {
        justify-content: center;
      }

      li {
        &:first-child {
          a {
            svg {
              width: 13px;
            }
          }
        }

        a {
          svg {
            width: 22px;
            fill: $white;
            transition: all ease 0.8s;

            @include respond-to($tb) {
              fill: $second;
            }
          }

          &:hover {
            svg {
              transform: rotate(360deg);
              fill: $fourth;
            }
          }
        }
      }
    }

    &__buttons {
      display: flex;
      gap: 10px;
      
      li {
        display: flex;
        align-items: center;

        position: relative;

        a {
          @include font-size(12);
          transition: all ease 0.8s;

          @include respond-to($tb) {
            color: $second;
          }

          &:hover {
            color: $fourth;
            text-decoration: underline;
          }
        }

        button {
          position: relative;

          &:hover {
            svg {
              fill: $fourth;
            }
          }

          svg {
            width: 24px;
            height: 24px;
            fill: $white;
            transition: all ease 0.8s;

            @include respond-to($tb) {
              fill: $second;
            }
          }

          span {
            width: 20px;
            height: 20px;
            @include font-size(10);
            background-color: red;
            border-radius: 999px;
            color: $white;
            transform: translate(30%, -30%);

            display: flex;
            justify-content: center;
            align-items: center;

            position: absolute;
            top: 0;
            right: 0;
          }
        }

        .HeaderCart {
          opacity: 0;
          pointer-events: none;
          transition: all ease 0.8s;

          position: absolute;
          top: 100%;
          right: 0;

          @include respond-to($tb) {
            height: 100%;
            opacity: 1;
            pointer-events: all;
            transform: translateX(100%);

            position: fixed;
            top: 0;
            left: 0;
          }

          &--active {
            opacity: 1;
            padding-top: 20px;
            pointer-events: all;

            @include respond-to($tb) {
              padding-top: 0;
              transform: translateX(0);
            }
          }

          &__content {
            width: 320px;
            background-color: $white;
            border: 2px solid $third;

            @include respond-to($tb) {
              margin-top: 0;
              width: 100%;
              height: 100%;

              display: flex;
              flex-direction: column;
            }

            &_list {
              padding: 20px;
  
              @include respond-to($tb) {
                padding-top: 60px;
                overflow-y: auto;
  
                flex: 1;
              }
  
              .HeaderCartIcon {
                display: none;
  
                position: absolute;
                top: 0;
                right: 0;
  
                @include respond-to($tb) {
                  display: block;
                }
  
                button {
                  padding: 10px;
                  background-color: $third;
  
                  svg {
                    width: 24px;
                    height: 24px;
                    fill: $white;
                  }
                }
              }
            }

            &_info {
              border-top: 2px solid $third;
  
              .HeaderCartPrice {
                padding: 20px;
  
                p {
                  display: flex;
                  gap: 10px;
                  justify-content: space-between;
                  font-weight: 600;
                  color: $third;
  
                  span {
                    font-weight: 400;
                  }
                }
              }
  
              .HeaderCartButton {
                a {
                  @include font-size(16);
                  width: 100%;
                  border-top: 2px solid $third;
                  color: $white;
                  
                  justify-content: center;
  
                  &:hover {
                    background-color: $white;
                    color: $third;
                    text-decoration: initial;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  &__bar {
    padding: 10px 0;
    background-color: $second;

    &_container {
      max-width: 1280px;
      width: 100%;
      margin: 0 auto;
      padding: 0 20px;

      display: flex;
      justify-content: space-between;

      .HeaderContact {
        display: flex;
        align-items: center;
        gap: 20px;

        a, p {
          @include font-size(14);
          color: $white;
          transition: all ease 0.8s;

          display: flex;
          align-items: center;
          gap: 10px;

          svg {
            width: 22px;
            fill: $white;
            transition: all ease 0.8s;
          }

          @include respond-to($mbl) {
            @include font-size(12);

            svg {
              width: 20px;
            }
          }
        }

        a {
          &:hover {
            color: $fourth;

            svg {
              fill: $fourth;
            }
          }
        }
      }
    }
  }

  &__content {
    background-color: $white;
    padding: 20px 0;

    &_container {
      max-width: 1280px;
      width: 100%;
      margin: 0 auto;
      padding: 0 20px;

      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;

      .HeaderLogo {
        a {
          display: flex;
          align-items: center;
          gap: 10px;

          p {
            @include font-size(16);
            font-family: $fontTitle;
            font-weight: 600;
            color: $second;
            letter-spacing: 1px;
          }
        }
      }

      .HeaderMenu {
        &__button {
          width: 40px;
          height: 30px;

          display: none;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          @include respond-to($lp) {
            display: flex;
          }

          div {
            width: 100%;
            height: 5px;
            background-color: $second;
            transition: all ease 0.8s;

            &:nth-of-type(1) {
              margin-bottom: 5px;
            }
            
            &:nth-of-type(3) {
              margin-top: 5px;
            }
          }
        }

        nav {
          @include respond-to($lp) {
            width: 100%;
            height: calc(100vh - 100%);
            background-color: $fifth;
            transition: all ease 0.8s;
            opacity: 0;
            pointer-events: none;

            display: flex;
            flex-direction: column;

            position: absolute;
            top: 100%;
            left: 0;
          }

          @include respond-to($tb) {
            padding-bottom: 10vh;
          }

          .HeaderMenuList {
            display: flex;
            gap: 10px;

            @include respond-to($lp) {
              flex: 1;

              flex-direction: column;
              justify-content: center;
              align-items: center;
            }

            li {
              &.active-link-menu {
                a {
                  background-color: $second;
                  color: $fifth;
                }
              }
              
              a {
                @include font-size(16);
                padding: 10px 20px;
                color: $second;
                font-family: $fontTitle;
                text-transform: uppercase;
                transition: all ease 0.8s;
                letter-spacing: 1px;
                border-radius: 999px;

                @include respond-to($lp) {
                  @include font-size(20);
                  padding: 15px 40px;
                }

                &:hover {
                  background-color: $second;
                  color: $fifth;
                }
              }
            }
          }

          .HeaderOptions {
            display: none;

            @include respond-to($tb) {
              display: flex;
              justify-content: center;
            }
          }
        }
      }
    }
  }

  &--active {
    .Header__bar {
      &_container {
        .HeaderSocial {
          opacity: 1;
          pointer-events: all;
        }
      }
    }

    .Header__content {
      &_container {
        .HeaderMenu {
          &__button {
            div {
              &:nth-of-type(1) {
                margin-top: 10px;
                margin-bottom: 0;
                transform: rotate(45deg);
              }

              &:nth-of-type(2) {
                opacity: 0;
              }

              &:nth-of-type(3) {
                margin-top: -10px;
                transform: rotate(-45deg);
              }
            }
          }

          nav {
            opacity: 1;
            pointer-events: all;
          }
        }
      }
    }
  }
}
