.Toggle {
  width: 100%;
  border: 2px solid $third;

  &__header {
    padding: 20px;
    cursor: pointer;
    border-bottom: 2px solid $third;

    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;

    svg {
      width: 24px;
      height: 24px;
      fill: $third;
    }

    p {
      @include font-size(16);
      color: $third;

      display: flex;
      gap: 10px;
      align-items: center;
    }
  }

  &__body {
    &_content {
      padding: 20px;
    }
  }
}
