$first: #484848;
$second: #604848;
$third: #99733C;
$fourth: #c0c0a8;
$fifth: #f0f0f0;

$white: #fff;
$black: #000;

$gray: #bcbcbc;
$red: #FF6666;

// Admin Colors
$adm_first: #F7F6F6;
$adm_first_dark: #D5D4D4;

$adm_info: #0074FE;
$adm_info_dark: #0052DC;
