.WrapperCheckout {
  padding-top: 128px;

  &__container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 60px 20px;

    .CheckoutTitle {
      margin-bottom: 40px;

      h1 {
        @include font-size(44, 54);
        font-weight: 600;
        text-transform: uppercase;
      }
    }

    .CheckoutMethods {
      max-width: 768px;
      width: 100%;

      #form-checkout {
        .FormButton {
          margin-top: 30px;

          display: flex;
          align-items: center;
          gap: 20px;

          &__spinner {
            width: 30px;
            height: 30px;
            border: 3px solid $third;
            border-bottom-color: transparent;
            border-radius: 50%;
            display: inline-block;
            box-sizing: border-box;
            animation: rotation 1s linear infinite;

            @keyframes rotation {
              0% {
                  transform: rotate(0deg);
              }
              100% {
                  transform: rotate(360deg);
              }
            }

            &--hidden {
              display: none;
            }
          }
        }
      }
    }
  }
}