.WrapperHome {
  padding-top: 128px;

  .HomeBanner {
    padding: 160px 0;

    background-image: url('https://img.freepik.com/fotos-gratis/piso-vazio-do-predio-moderno_1127-3154.jpg?t=st=1713802805~exp=1713806405~hmac=b2ec6a67bdff3d0251c76975e0c8f592754f26781b11ffe7e112aa154e85e1c5&w=1380');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    position: relative;

    &::before {
      width: 100%;
      height: 100%;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.55), transparent);
      content: '';

      display: block;

      position: absolute;
      top: 0;
      left: 0;
    }

    &__container {
      max-width: 1280px;
      width: 100%;
      margin: 0 auto;
      padding: 0 20px;

      position: relative;

      .HomeBannerInfo {
        max-width: 576px;
        width: 100%;

        &__label {
          padding: 10px;
          padding-left: 15px;
          margin-bottom: 20px;

          position: relative;

          &::before {
            width: 5px;
            height: 100%;
            background-color: $fifth;
            content: '';

            display: block;

            position: absolute;
            top: 0;
            left: 0;
          }

          p {
            @include font-size(24);
            font-family: $fontTitle;
            color: $white;
            font-weight: 600;
          }
        }

        &__title {
          margin-bottom: 20px;

          h1 {
            @include font-size(54, 64);
            color: $white;

            @include respond-to($mbl) {
              @include font-size(44, 54);
            }
          }
        }

        &__text {
          margin-bottom: 40px;

          p {
            @include font-size(16, 26);
            color: $white;
          }
        }

        &__actions {
          display: flex;
          align-items: center;
          gap: 20px;

          .Button {
            @include respond-to($mbl) {
              padding: 20px 25px;
            }
          }
        }
      }
    }
  }

  .HomeProjects {
    padding: 60px 0;
    background-color: $fifth;

    &__container {
      max-width: 1280px;
      width: 100%;
      margin: 0 auto;
      padding: 0 20px;

      .HomeProjectsHeader {
        text-align: center;
        margin-bottom: 40px;

        &__label {
          margin-bottom: 20px;

          p {
            @include font-size(16);
            font-family: $fontTitle;
            text-transform: uppercase;
            color: $third;
            font-weight: 600;
            letter-spacing: 1px;
          }
        }
        
        &__title {
          h3 {
            @include font-size(34);
            text-transform: uppercase;
            font-weight: 600;
          }
        }
      }

      .HomeProjectsList {
        margin-bottom: 40px;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;

        @include respond-to($lp) {
          grid-template-columns: repeat(2, 1fr);
        }

        @include respond-to($mbl) {
          grid-template-columns: 1fr;
        }

        .Project {
          &__image {
            @include respond-to($lp) {
              height: 40vw;
            }

            @include respond-to($mbl) {
              height: 95vw;
            }
          }
        }
      }

      .HomeProjectsButton {
        display: flex;
        justify-content: center;
      }
    }
  }

  .HomeFeedback {
    padding: 60px 0;

    &__container {
      max-width: 1024px;
      width: 100%;
      margin: 0 auto;
      padding: 0 20px;

      .HomeFeedbackTitle {
        margin-bottom: 40px;
        text-align: center;

        h3 {
          @include font-size(34);
          color: $black;
        }
      }

      .HomeFeedbackList {
        margin-bottom: 40px;

        display: flex;
        align-items: center;
        gap: 20px;

        @include respond-to($tb) {
          flex-direction: column;
        }

        &__card {
          border: 2px solid $third;
          padding: 20px;
          transition: all ease 0.8s;

          &:hover {
            transform: scale(1.02);
          }

          &_image {
            margin-bottom: 10px;

            display: flex;
            gap: 20px;
            align-items: center;

            img {
              width: 80px;
              height: 80px;
              border-radius: 999px;
            }

            div {
              p {
                margin-bottom: 10px;
                @include font-size(16);
                font-weight: 600;
                color: $third;
                font-family: $fontTitle;
              }

              span {
                @include font-size(16);
                color: $third;
              }
            }
          }

          &_info {
            p {
              @include font-size(14, 24);
            }
          }
        }
      }

      .HomeFeedbackButton {
        display: flex;
        justify-content: center;
      }
    }
  }

  .HomeContact {
    background-color: $third;

    &__container {
      max-width: 1280px;
      width: 100%;
      margin: 0 auto;
      padding: 0 20px;

      display: flex;

      @include respond-to($lp) {
        padding: 0;
      }

      @include respond-to($tb) {
        flex-direction: column;
      }

      .HomeContactCard {
        flex: 1;
        padding: 100px 30px;
        background-color: $second;

        display: flex;
        gap: 15px;
        justify-content: center;
        align-items: center;

        @include respond-to($lp) {
          flex-direction: column;
          align-items: flex-start;
        }

        @include respond-to($tb) {
          align-items: center;
        }

        &:nth-child(2n) {
          background-color: $third;
        }

        &__icon {
          svg {
            width: 62px;
            fill: $white;
          }
        }

        &__info {
          @include respond-to($tb) {
            text-align: center;
          }

          p {
            margin-bottom: 5px;
            @include font-size(12);
            font-family: $fontTitle;
            color: $white;
            text-transform: uppercase;
            letter-spacing: 1px;
          }


          span {
            @include font-size(24);
            color: $white;
            font-weight: 600;
          }
        }
      }
    }
  }
}