.WrapperHome {
  padding-top: 128px;

  .HomeFeedback {
    padding: 60px 0;

    &__container {
      max-width: 1024px;
      width: 100%;
      margin: 0 auto;
      padding: 0 20px;

      .HomeFeedbackTitle {
        margin-bottom: 40px;
        text-align: center;

        h3 {
          @include font-size(34);
          color: $black;
        }
      }

      .HomeFeedbackList {
        margin-bottom: 40px;

        display: flex;
        align-items: center;
        gap: 20px;

        @include respond-to($tb) {
          flex-direction: column;
        }
      }

      .HomeFeedbackButton {
        display: flex;
        justify-content: center;
      }
    }
  }
}