.WrapperMyProfile {
  padding-top: 128px;

  &__container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 60px 20px;

    &_title {
      text-align: center;
      margin-bottom: 20px;

      h1 {
        @include font-size(34, 44);
        text-transform: uppercase;
        letter-spacing: 1px;
      }
    }

    &_content {
      .MyProfileTabBox {
        border: 2px solid $third;

        &__tabs {
          background-color: $third;
          border-bottom: 2px solid $third;

          button {
            @include font-size(16);
            color: $white;
            font-weight: 600;
            padding: 20px;
            transition: all ease 0.8s;

            &.active-tab {
              background-color: $white;
              color: $third;
            }
          }
        }

        &__content {
          padding: 20px;

          &_item {
            display: none;

            &.active-tab {
              display: block;
            }

            .ProfileForm {
              form {
                display: flex;
                flex-direction: column;
                gap: 20px;

                .Input {
                  &:nth-of-type(3) {
                    .Input__content {
                      &_icon {
                        svg {
                          &:nth-of-type(2) {
                            display: none;
                          }
                        }
                      }
                    }
                  }
                }

                .FormButtons {
                  display: flex;
                  align-items: center;
                  gap: 20px;

                  a {
                    background-color: transparent;

                    &:hover {
                      background-color: $fifth;
                    }
                  }
                }
              }
            }

            .MyProfileHistoric {
              margin-bottom: 20px;

              &:last-child {
                margin-bottom: 0;
              }

              &__header {
                padding-bottom: 10px;
                border-bottom: 2px solid $third;
                margin-bottom: 20px;

                display: flex;
                justify-content: space-between;

                p {
                  @include font-size(16);
                  font-family: $fontTitle;
                  color: $third;
                  font-weight: 600;
                }

                span {
                  @include font-size(16);
                  color: $third;
                }
              }

              &__list {
                margin-bottom: 20px;

                .MyProfileProduct {
                  display: flex;
                  gap: 20px;
                  align-items: center;
  
                  &__image {
                    img {
                      width: 50px;
                      height: 50px;
                      object-fit: cover;
                      object-position: center;
                    }
                  }

                  &__title {
                    flex: 1;

                    p {
                      @include font-size(16);
                      color: $black;
                    }
                  }

                  &__price {
                    p {
                      @include font-size(16);
                      color: $third;
                    }
                  }
                }
              }

              &__footer {
                span {
                  @include font-size(16);
                  font-family: $fontTitle;
                  color: $third;
                  margin-bottom: 10px;
                }

                table {
                  margin-bottom: 20px;

                  tbody {
                    tr {
                      td {
                        @include font-size(12);
                        color: $third;
                        font-family: $fontText;

                        &:first-child {
                          padding-right: 20px;
                          font-weight: 600;
                          font-family: $fontTitle;
                        }
                      }
                    }
                  }
                }

                &_reimbursement {
                  p {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    span {
                      padding: 10px 20px;
                      background-color: $third;
                      color: $white;
                      margin-bottom: 0;
                      font-weight: 600;
                      @include font-size(12);
                    }

                    a {
                      @include font-size(16);
                      color: $third;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
