.WrapperPortfolio {
  padding-top: 128px;

  .PortfolioInstagram {
    padding: 60px 0;

    &__container {
      max-width: 1280px;
      width: 100%;
      margin: 0 auto;
      padding: 0 20px;

      &_title {
        margin-bottom: 40px;
        text-align: center;

        h1 {
          @include font-size(44, 54);
          font-weight: 600;
          letter-spacing: 1px;
          text-transform: uppercase;
        }
      }

      &_list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;

        @include respond-to($tb) {
          grid-template-columns: repeat(2, 1fr);
        }

        a {
          img {
            width: 100%;
            height: 24vw;
            max-height: 303px;
            object-fit: cover;
            object-position: center;

            @include respond-to($tb) {
              height: 39vw;
            }
          }
        }
      }
    }
  }

  .Projects {
    &__container {
      max-width: 1028px;

      .ProjectsList {
        .Project {
          &__image {
            max-height: 300px;
          }
        }
      }
    }
  }

  .PortfolioFeedback {
    padding: 60px 0;
    

    &__container {
      max-width: 1280px;
      width: 100%;
      margin: 0 auto;
      padding: 0 20px;

      &_title {
        margin-bottom: 40px;
        text-align: center;

        h2 {
          @include font-size(34, 44);
          text-transform: uppercase;
          font-weight: 600;
          letter-spacing: 1px;
        }
      }

      &_list {
        .slick-dots {
          bottom: -50px;

          li {
            button {
              &::before {
                font-size: 24px;
                color: $third;
              }
            }
          }
        }

        .Feedback {
          margin-right: 20px;

          @include respond-to($mbl) {
            margin-right: 0;
          }

          &:hover {
            transform: unset;
          }
        }
      }
    }
  }
}
