.WrapperProduct {
  padding-top: 128px;

  &__container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 60px 20px;

    display: flex;
    gap: 40px;

    @include respond-to($tb) {
      flex-direction: column;
    }

    &_info {
      width: calc(60% - 20px);

      @include respond-to($tb) {
        width: 100%;
      }

      .ProductCarousel {
        width: 100%;
        margin-bottom: 20px;

        &__images {
          img {
            height: 38vw;
            max-height: 482px;
            object-fit: cover;
            object-position: center;

            @include respond-to($tb)  {
              height: 63vw;
            }
          }
        }

        &__dots {
          .slick-track {
            margin: 0;

            img {
              height: 7vw;
              max-height: 97px;
              object-fit: cover;
              object-position: center;
              background-color: $third;
              cursor: pointer;
              transition: all ease 0.8s;

              @include respond-to($tb) {
                height: 12vw;
              }

              &:hover {
                padding: 10px;
              }
            }
          }
        }
      }

      .ProductDescription {
        &__title {
          margin-bottom: 20px;

          h1 {
            @include font-size(24, 34);
            color: $third;
            letter-spacing: 1px;
          }
        }

        &__text {
          margin-bottom: 40px;

          display: flex;
          flex-direction: column;
          gap: 10px;

          p {
            @include font-size(16, 26);
          }
        }
      }
    }

    &_form {
      width: calc(40% - 20px);

      @include respond-to($tb) {
        width: 100%;
      }

      .ProductPrices {
        padding: 20px;
        border: 1px solid $gray;
        margin-bottom: 20px;

        &__discount {
          margin-bottom: 10px;

          p {
            width: fit-content;
            padding: 10px 30px;
            background-color: $third;
            @include font-size(16);
            color: $white;
            font-weight: 600;
          }
        }

        &__price {
          margin-bottom: 20px;

          p {
            @include font-size(34, 44);
            font-weight: 600;

            strike {
              @include font-size(24);
              color: $gray;
            }
          }
        }

        &__button {
          margin-bottom: 20px;

          .Button {
            width: 100%;

            justify-content: center;
          }
        }

        &__data {
          display: flex;
          justify-content: space-around;

          div {
            text-align: center;

            svg {
              width: 24px;
              height: 24px;
              margin-bottom: 10px;
              fill: $third;
            }

            p {
              @include font-size(16, 26);
              color: $third;
              font-weight: 600;
            }
          }
        }
      }
      
      .ProductFiles {
        padding: 20px;
        border: 1px solid $gray;

        &__title {
          margin-bottom: 10px;

          h2 {
            @include font-size(16);
            font-weight: 600;
            font-family: $fontTitle;
            color: $third;
          }
        }

        &__action {
          a {
            width: 100%;
            justify-content: center;
          }
        }
      }
    }
  }
}