.AdmBreadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;

  a {
    @include font-size(16);
    color: $adm_info;

    &:hover {
      color: $adm_info_dark;
      text-decoration: underline;
    }
  }

  svg {
    width: 12px;
    height: 12px;
    fill: $gray;
  }

  p {
    @include font-size(16);
  }
}
